<h1>Your name: {{ user.name }}</h1>
<h2>userObj=== {{ userObj.name }}</h2>
<p>Welcome to your home ~</p>
<p>
    <a href="/logout">我要注销 </a>
</p>


<ul id="list"></ul>

{{js "https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js,https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js,/js/home.js"}}
